body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-chart {
  width: 800px;
}

.recipient-chart {
  width: 50%;
  height: 150px;
  float: right;
  padding: 2%;
  margin-right: auto;
}

.daily-chart {
  width: 50%;
  height: 150px;
  float: left;
  padding: 2%;
  margin-left: auto;
}


